@font-face {
    font-family: 'something';
    src: url("something.ttf");
}

body {
    /* used to set global fonts */
    font-family: 'something';
    display: flex;
    flex-direction: column;
}

header {
    /* header is positioned at the top of the page, and sticks with it */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #000;
}

main {
    /* main is positioned below the header element */
    flex: 1;
    min-height: calc(100vh - 150px);
    margin-top: 100px;
    background-color: #fff;
    color: #000;
    height:1000px;
}

footer {
    /* footer is positioned below the main element */
    height: 50px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #666;
    color: #000;
}

header ul {
    /* list only shows elements, and is aligned horizontally */
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header li {
    /* list items are aligned horizontally, content is aligned in the center of the element */
    display: inline-block;
    text-align: center;
}

header li a {
    /* links are aligned horizontally and vertically */
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}